<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="ServerApi" />
                <binding name="NetNamedPipeBinding_IUserSessionApi" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/CisteraScreenCapture/UiApi/"
                binding="netNamedPipeBinding" bindingConfiguration="ServerApi"
                contract="CisteraScreenCaptureService.IUiApi" name="ServerApi">
                <identity>
                    <userPrincipalName value="Stoyan-HP\S" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/CisteraScreenCaptureService/UserSessionApi/"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IUserSessionApi"
                contract="CisteraScreenCaptureService.IUserSessionApi" name="NetNamedPipeBinding_IUserSessionApi">
                <identity>
                    <userPrincipalName value="Stoyan-HP\S" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>